*
!vendor/OpenCiv3/C7Engine
!vendor/OpenCiv3/QueryCiv3
!vendor/OpenCiv3/Blast
!vendor/OpenCiv3/C7
!vendor/OpenCiv3/ConvertCiv3Media
!vendor/OpenCiv3/LICENSE
!bridge
!patches
!scripts
!src
!pyproject.toml
!README.md
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!client
client/README.md
vendor/OpenCiv3/C7/Assets
**/.godot
**/bin
**/obj
**/__pycache__
**/*.pyc
